.blogRandomHeading{
  font-size: 24px;
  padding-bottom: 25px;
}

.blogRandom {
  padding: 25px 0 0 0;
}

.blogRandomText {
  margin-top: -15px;
}

.randomList{
  margin: 15px 0;
  font-size: 16px;
  padding-top: 15px;
  border-top: solid 1px #f1f1f1;
}

.randomListExtra{
  margin-top: 5px;
  font-size: 12px;
  color: #999;
}