.menuFullWidth {
  border-bottom: solid 1px #f1f1f1;
  -webkit-box-shadow: 0px -30px 40px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -30px 40px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -30px 40px 0px rgba(0, 0, 0, 0.75);
  background-color: #fff;
}