.heroContainer {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}
.heroContent {
  line-height: normal;
  position: relative;
  background-color: #f5f5f5;
  font-size: calc(100vw / 3);
  font-weight: 400;
  color: #f5f5f5;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.heroMid {
  position: absolute;
  z-index: 1;
  margin-left: -5vw;
}
.heroLeft,
.heroRight {
  z-index: 2;
}
.heroText {
  line-height: 22px;
  padding: 15px 0;
  color: #666;
  text-align: center;
}
.heroSmaller {
  font-size: 8px;
}