.articleHeading {
  text-align: center;
  padding: 25px 0;
}

@media screen and (min-width: 900px) {
  .menuShiv {
    padding-top: 40px;
  }
  .articleHeading {
    padding-top: 0;
    padding-bottom: 40px;
  }
}
