.aboutEduTitle .small {
  font-size: 12px;
}
.aboutEduText {
  display: block;
  margin: 25px 0;
}

@media screen and (min-width: 900px) {
  .aboutEduText {
    display: flex;
    flex-wrap: wrap;
  }
}
